.promotii-page {
  margin: 140px 0 150px 0;
}

.promotii-header {
  text-align: center;
  padding: 0 0 25px 0;
}

.promotii-header h2 {
  font-size: 30px;
  color: var(--text-color);
}

.promotii-header p {
  color: var(--subtitle-color);
}
